body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
p{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),rgb(0, 255, 255), blue, rgb(0, 255, 255)) ;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    animation: 4.5s spin linear infinite;
}
.container::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.container{
    display: flex;
    flex-direction: row;
    width:100vh;
    height: 40vh;
    margin: 0 auto;
    position: relative;

}

.item{
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    cursor: pointer;
    &:hover{
        flex: 5.6;
    }
}
@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        width:40vh;
        height: 80vh;
    
    }
    
    .item{
        flex: 1;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.6s ease;
        cursor: pointer;
        &:hover{
            flex: 2.9;
        }
    }    
}


.item-1{
    background-image: url(Photo1.jpg);
}
.item-2{
    background-image: url(Photo2.jpg);
}
.item-3{
    background-image: url(Photo3.jpg);
}
.item-4{
    background-image: url(Photo4.jpg);
}
.item-5{
    background-image: url(Photo5.jpg);
}
.item-6{
    background-image: url(Photo6.jpg);
}